body{
    font-family: 'Noto Sans', sans-serif;
    margin:0;
    width:100%;
    height:100%;
    background:black;
    color: white;
}

header{
    display:inline-block;
    width:100%;
    height:60px;
    border-bottom:1px solid white;
    margin-bottom: 15px;
}

h2 {
    padding-left: 10px;
}

a:hover {
    cursor: pointer;
}

.container {
    width: 95%;
    height: 100%;
}

.marker_list {
    padding-right: 15px;
}

.filter_param {
    height: 34px;
    width: 70%;
    color: black;
}

.list_element {
    font-size: 16px;
    padding: 10px;
}

.element_link, .element_link:hover {
    color: inherit;
}

#map {
    height: 100vh;
    color: black;
}
